
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: auto;
    font-family: 'Caveat', cursive;
    background-image: url("../img/blackconcretewall.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

#contacts a {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size:11px;
}
#contacts i{
    padding:0 7px 0 0;
}
p, table {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 100%;
}
th {
    padding: 0 0 10px 0;
}
td {
    
    padding: 0 0 5px 0px;
}


.nav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(17,17,17);
    padding-top: 20px;
    z-index: 1;
}

    .nav a {
        margin-top: 15%;
        text-decoration: none;
        color: #ffffff;
        display: block;
        font-size: 150%;
    }


.tooltip {
    position: relative;
    margin-top: 5%;
    margin-left: 40%;

}

.tooltiptext {
    background-color: #D1E8E2;
    color: black;
    text-align: center;
    position: relative;
    border-radius: 8px;
    padding: 1px 10px;
    margin-left: -40%;
    margin-right: 30%;
    opacity: 0;
    font-size: 18px;  
}

.tooltip:hover .tooltiptext, .topics {
    opacity: 1;
    transition: opacity 1s;
}

#main {
    position: absolute;
    margin-left: 15%;
    display: block;
    margin-top: 600px;
}

/*slides*/

.slideshow-container {
    max-height: auto;
    width: 80%;
    position: relative;
    margin: auto;
}
.menutext {
    position: relative;
    margin-top: 20%;
    margin-left: -5%;
    left: 10%;
}

.menutext h1 {
    position: relative;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 70px;
    margin-left: 20%;
    color: #D1E8E2;
    animation: type1 5s steps(15);
    overflow: hidden;
    white-space: nowrap;
}


@keyframes type1 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}


.menutext h4 {
    position: relative;
    width: auto;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 20px;
    margin-left: 40%;
    animation: type2 5s steps(15);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes type2 {
    0% {
        width: 0ch;
    }

    100% {
        width: 20%;
    }
}

.slidebox {
    position: absolute;
    margin-top: 7%;
    margin-left: 7%;
    width: 100%;
    display: none;
}

.slideshow-container h3 {
    color: #D1E8E2;
    font-size: 35px;
    font-family: 'BankGothic Md BT', sans-serif;
}

.imgbox{
    width: auto;
    height: auto;
}
.pic {
    float: left;
    width: 400px;
    height: auto;
    padding: 0px 50px 0 0;
}
.text {
    margin: 10px 10px 10px 10px;
    position: absolute;
    text-align: left;
    margin-left: 40%;
}

.table1 td{
    width: 100px;
}
.table2 td {
    width: 100px;
}

/* bottons and animation bottom*/

.next {
    position: fixed;
    right: 30px;
    bottom: 10px;
    animation: blinker 1s linear infinite;
}


.prev {
    position: fixed;
    right: 70px;
    bottom: 10px;
}

    .next i, .prev i {
        margin-top: -15px;
        font-size: 50px;
        color: black;
    }

        .next i:hover, .prev i:hover {
            color: rgba(186, 186, 186, 0.93);
        }

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/* end bottons and animation bottom */

 /*animation in skills*/

.barchart {
    width: 200px;
    height: 10px;
    background-color: #808080;
    
}

.code {
    width: 60px;
    height: 10px;
    background-color: #05ad1d;
    animation: barchartcode 4s steps(60);
}

@keyframes barchartcode {
    0% {
        width: 0px;
    }

    100% {
        width: 60px;
    }
}

.vs {
    width: 70px;
    height: 10px;
    background-color: #8d07a7;
    animation: barchartvs 4s steps(70);
}

@keyframes barchartvs {
    0% {
        width: 0px;
    }

    100% {
        width: 70px;
    }
}

.mw {
    width: 100px;
    height: 10px;
    background-color: #0a8fc5;
    animation: barchartmw 4s steps(100);
}

@keyframes barchartmw {
    0% {
        width: 0px;
    }

    100% {
        width: 100px;
    }
}


.c {
    width: 60px;
    height: 10px;
    background-color: rgb(0,66,131);
    animation: barchartc 4s steps(60);
}


@keyframes barchartc {
    0% {
        width: 0px;
    }

    100% {
        width: 60px;
    }
}

.html {
    width: 90px;
    height: 10px;
    background-color: rgb(233,98,40);
    animation: barcharthtml 4s steps(90);
    
}
@keyframes barcharthtml {
    0% {
        width: 0px;
    }

    100% {
        width: 90px;
    }
}
.css {
    width: 90px;
    height: 10px;
    background-color: rgb(0,116,187);
    animation: barchartcss 4s steps(90);
}
@keyframes barchartcss {
    0% {
        width: 0px;
    }

    100% {
        width: 90px;
    }
}
.js {
    width: 40px;
    height: 10px;
    background-color: rgb(207,180,48);
    animation: barchartjs 4s steps(40);
}
@keyframes barchartjs {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}

#triangle{
    position: absolute;
    margin-top: 10%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid red;
}
/*end animation in skills*/

